alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
black==19.10b0
brotlipy==0.7.0
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.3
entrypoints==0.3
Flask==2.0.1
Flask-WTF==0.15.1
future==0.18.2
inflection==0.5.1
isort==5.5.4
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.21.2
pandas==1.3.3
parso==0.7.0
pathspec==0.7.0
pylint==2.6.0
pywinpty==0.5.7
PyYAML==5.4.1
six==1.15.0
terminado==0.9.4
toml==0.10.1
typed-ast==1.4.1
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==2.0.1
wincertstore==0.2
wrapt==1.12.1
WTForms==2.3.3
